<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymBuddy"
        tools:targetApi="31">
        <activity
            android:name=".Training.Split.BellyAndShoulders"
            android:exported="false" />
        <activity
            android:name=".Training.Split.Legs2"
            android:exported="false" />
        <activity
            android:name=".Training.Split.BackAndBiceps"
            android:exported="false" />
        <activity
            android:name=".Training.Split.ChestAndTriceps"
            android:exported="false" />
        <activity
            android:name=".Training.Split.SplitMenu"
            android:exported="false" />
        <activity
            android:name=".Training.PushPullLegs.Legs"
            android:exported="false" />
        <activity
            android:name=".Training.PushPullLegs.Pull"
            android:exported="false" />
        <activity
            android:name=".Training.PushPullLegs.Push"
            android:exported="false" />
        <activity
            android:name=".Training.PushPullLegs.PushPullLegsMenu"
            android:exported="false" />
        <activity
            android:name=".Training.FBW.FBWMenu"
            android:exported="false" />
        <activity
            android:name=".Training.FBW.FBW_B"
            android:exported="false" />
        <activity
            android:name=".Training.FBW.FBW_A"
            android:exported="false" />
        <activity
            android:name=".Training.TrainingMenu"
            android:exported="false" />
        <activity
            android:name=".CalorieDiary.NewMeal"
            android:exported="false" />
        <activity
            android:name=".KcalBmi.KcalBmi"
            android:exported="false" />
        <activity
            android:name=".CalorieDiary.CalorieDiary"
            android:exported="false" />
        <activity
            android:name=".UserMenu"
            android:exported="false" />
        <activity
            android:name=".UserProfile.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NewUserForm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>